body {
    margin: 0;
}

.news_container {
	padding-top: 3.13rem;
	padding-bottom: 3.13rem;
    width: 100vw;
    /* border: 1px solid red; */
    background-color: #0D1224;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.news_inside_container {
    border: 1px solid yellow;
    width: 71.25rem;
    display: flex;
    flex-direction: row;
	justify-content: space-around;
	gap: initial;
}

@media (max-width: 1140px) {
	.news_inside_container {
		width: 60%;
		justify-content: center;
		flex-wrap: wrap;
		gap: 2rem;
	}
}

@media (max-width: 1000px) {
	.news_inside_container {
		width: 80%;
	}
}


.news_item {
    border-radius: 0.625rem;
    /* border: 1px solid paleturquoise; */
    background-color: #112956;

}

.news_tag {
	border-radius: 6.25rem;
	background: #1A67DC;
	box-shadow: 0px 0px 100px 20px rgba(26, 103, 220, 0.18);
	display: flex;
    padding: 0.1rem 2.8rem;
	justify-content: center;
	align-items: center;
    color: #FFF;

    text-align: center;
    font-family: "Exo 2";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: auto;

	margin-bottom: 2.5rem;
}


.news_expand {
	margin-top: 1.5rem;
	/* border: 0.8px solid #12346E; */
	width: 50px;
	height: 50px;
	display: none;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: #102349;
}

.news_expand_more_button, .news_expand_less_button {
	/* border: 1px solid red; */
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.news_expand:hover {
	background-color: #1A67DC;
}

.news_expand_more_button div {
	width: 20px;
	height: 4.5px;
	border-radius: 6px;
	margin-bottom: -5px;
	background-color: #0D1224;
}

.news_expand_more_button div:nth-child(1) {
	transform: rotate(42deg);
	margin-right: -3.5px;
}

.news_expand_more_button div:nth-child(2) {
	transform: rotate(-42deg);
	margin-left: -3.5px;
}

.news_expand_less_button {
	display: none;
	position: relative;
}

.news_expand_less_button div {
	width: 26px;
	height: 4px;
	position: absolute;
	border-radius: 6px;
	background-color: #0D1224;
}

.news_expand_less_button div:nth-child(1) {
	transform: rotate(45deg);
}

.news_expand_less_button div:nth-child(2) {
	transform: rotate(-45deg);
}

@media (max-width: 707px) {
	.news_expand {
		display: flex;
	}
	.news_column:nth-child(2) { display: none; }
	.news_column:nth-child(3) { display: none; }
	.news_column:nth-child(4) { display: none; }
}

.news_button {
	color: #FFF;

	text-align: center;
	font-family: "Exo 2";
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 400;


	display: inline-flex;
	padding: 0.1rem 2.125rem;
	justify-content: center;
	align-items: center;


	border-radius: 6.25rem;
	border: 1px solid #1A67DC;
	background: rgba(26, 103, 220, 0.20);
	box-shadow: 0px 0px 100px 20px rgba(26, 103, 220, 0.18);
	backdrop-filter: blur(2px);
}

.news_button:hover {
	background-color: #1A67DC;
	color: #FFF;
}

.news_item h4{
	color: rgba(255, 255, 255, 0.82);

	margin:0;
	font-family: "Exo 2";
	font-size: 1rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.375rem; /* 137.5% */
	letter-spacing: 0.002rem;
}

.news_item {
	justify-content: center;
	width: 16.6875rem;
	height: 10.4rem;
	display: flex;

	align-items: center;
}


.inside_inside {
	/* border: 1px solid red; */
	width: 11rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.news_information_tags {
	display: flex;
	flex-direction: column;
	color: rgba(255, 255, 255, 0.50);

	gap: 0.1rem;

	font-family: "Open Sans";
	font-size: 0.8rem;
	font-style: normal;
	font-weight: 400;
	line-height: 0;
	letter-spacing: 0.00131rem;
}


/*REQUIRED FOR THE OVERLAY OF THE DIV*/
.news_hover {
	/* border: 1px solid yellow; */

	width: 16.6875rem;
	height: 10.4rem;
	position: absolute;
	top: 0;

	background: rgba(16, 35, 73, 0.80);
	backdrop-filter: blur(2px);
	border-radius: 0.625rem;
	overflow: hidden;
	display: flex;
	opacity: 0%;
	align-items: center;
}

.news_hover:hover {
	opacity: 100%;
}

.news_column {
	/* border: 1px solid red; */
	position: relative;
	display: flex;
	flex-direction: column;
}

.news_hover_picture {
	width: 20rem;
	height: 20rem;
	position:absolute;
	right: -10rem;
}

.news_read_more_button {
	display: flex;
	/* border: 1px solid purple; */
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	margin-left: 2.6rem;
	gap: 0.8rem;
	position: absolute;

	/*FOR THE TEXT*/
	text-decoration: none;
	color: #FFF;
	font-family: "Exo 2";
	font-size: 1.2rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.00175rem;
	flex-wrap: nowrap;
}

